---
http_interactions:
- request:
    method: post
    uri: https://www.leanplum.com/api?action=multi&apiVersion=1.0.6&appId=<LEANPLUM_APP_ID>&clientKey=<LEANPLUM_PRODUCTION_KEY>&devMode=false&time=1507792150
    body:
      encoding: UTF-8
      string: '{"data":[{"userId":"delete_yourself_123","action":"setUserAttributes","userAttributes":{"first_name":"Mike","last_name":"Jones","gender":"m","email":"still_tippin@test.com","create_date":"2010-01-01","is_tipping":true,"devices":null}}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Cloud-Trace-Context:
      - ac4f38504686d01c1cf5373dce7ac726
    body:
      encoding: UTF-8
      string: '{"response":[{"success":true,"warning":{"message":"Device clock skew
        detected (28 days behind). Rewriting timestamp."}}]}'
  recorded_at: Thu, 12 Oct 2017 07:09:10 GMT
- request:
    method: get
    uri: https://www.leanplum.com/api?action=deleteUser&apiVersion=1.0.6&appId=<LEANPLUM_APP_ID>&clientKey=<LEANPLUM_DEVELOPMENT_KEY>&devMode=false&userId=delete_yourself_123
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Cloud-Trace-Context:
      - fa2a351a50d89c8d1312dbd9b1571030
    body:
      encoding: UTF-8
      string: '{"response":[{"success":true}]}'
  recorded_at: Thu, 12 Oct 2017 07:09:10 GMT
- request:
    method: get
    uri: https://www.leanplum.com/api?action=exportUser&apiVersion=1.0.6&appId=<LEANPLUM_APP_ID>&clientKey=<LEANPLUM_DATA_EXPORT_KEY>&devMode=false&userId=delete_yourself_123
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Cloud-Trace-Context:
      - fdf250d9c3c49b1deb1e5ad2b9f041eb;o=1
    body:
      encoding: UTF-8
      string: '{"response":[{"success":true,"warning":{"message":"User not found;
        request skipped."}}]}'
  recorded_at: Thu, 12 Oct 2017 07:09:10 GMT
recorded_with: VCR 3.0.3
